<div class="container">
    <h1 class="text-center mb-5">Quotes App</h1>
    <hr>
    <div>
        <app-add-quotes (displayQuote)="showAddedQuote($event)"></app-add-quotes>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 mt-5 quoteCard" *ngFor = 'let quotes of quote;let i = index'>
                    <p>{{quotes.genre}}</p>
                    <p>{{quotes.quote}}</p>
                    <p><i>-{{quotes.author}}</i></p>
                    <p>Posted on {{quotes.datePost|date}}</p>
                    <app-more-info *ngIf='quotes.showInfo' [quote] = 'quotes' (quotesDelete)= "removeQuotes($event, i)"></app-more-info>
                    <button (click)='toggleInfo(i)' class="btn btn-success button">Click</button>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="mt-3 text-center">
        <p>Kyle <br> copyright@2021</p>
    </div>
</footer>
